In [4]:
#Question-4 Write a multiple regression program for predicting CO2 emission level when Volume
# 1300 of Car is and Engine weight is 3300Kg. Refer Car data file. 

import pandas as pd
import numpy as np
import statsmodels.api as sm
data = pd.read_excel("C:/Users/Pranav/ML DL practical/Datasets/Car_data.xlsx")

In [2]:
data

    Volume  Weight  CO2
0     1000     790   99
1     1200    1160   95
2     1000     929   95
3      900     865   90
4     1500    1140  105
5     1000     929  105
6     1400    1109   90
7     1500    1365   92
8     1500    1112   98
9     1600    1150   99
10    1100     980   99
11    1300     990  101
12    1000    1112   99
13    1600    1252   94
14    1600    1326   97
15    1600    1330   97
16    1600    1365   99
17    2200    1280  104
18    1600    1119  104
19    2000    1328  105
20    1600    1584   94
21    2000    1428   99
22    2100    1365   99
23    1600    1415   99
24    2000    1415   99
25    1500    1465  102
26    2000    1490  104
27    2000    1725  114
28    1600    1523  109
29    2000    1705  114
30    2100    1605  115
31    2000    1746  117
32    1600    1235  104
33    1600    1390  108
34    1600    1405  109
35    2500    1395  120

In [7]:
X = data[['Volume', 'Weight']]
y = data['CO2']
X = sm.add_constant(X)
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    CO2   R-squared:                       0.377
Model:                            OLS   Adj. R-squared:                  0.339
Method:                 Least Squares   F-statistic:                     9.966
Date:                Tue, 31 Oct 2023   Prob (F-statistic):           0.000411
Time:                        14:49:57   Log-Likelihood:                -114.39
No. Observations:                  36   AIC:                             234.8
Df Residuals:                      33   BIC:                             239.5
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         79.6947      5.564     14.322      0.000      68.374      91.016
Volume         0.0078      0.004      1.948      0.060      -0.000       0.016
Weight         0.0076      0.006      1.173      0.249      -0.006       0.021
==============================================================================
Omnibus:                        4.957   Durbin-Watson:                   0.944
Prob(Omnibus):                  0.084   Jarque-Bera (JB):                1.836
Skew:                          -0.025   Prob(JB):                        0.399
Kurtosis:                       1.895   Cond. No.                     1.16e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.16e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [8]:
# Predict CO2 emissions for a car with Volume = 1300 and Weight = 3300 Kg
volume = 1300
weight = 3300
predicted_co2 = model.predict([1, volume, weight])

print(f"Predicted CO2 Emissions: {predicted_co2[0]:.2f} g/km")

Predicted CO2 Emissions: 114.76 g/km